<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Área do Professor • Login</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" th:href="@{/}">
      <img th:src="@{/assets/img/icon.ico}" alt="Logo" class="brand-logo">
      Simulado Online
    </a>
  </div>
</nav>

<main class="container py-5" style="max-width:520px">
  <div th:replace="~{login-form :: prof-login-form}"></div>
</main>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
